.mostrar{
    display: grid;
    grid-gap: 15px;
    background-image: radial-gradient(circle, #010812, #111a1e, #1e2828, #2f3632, #42443e);
    text-align: center;
    color: aliceblue;
    width: auto;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 38%;
}