.botonSuperior {
    display: flex;
    justify-content: space-evenly;
    background-color: #111a1e;
    font-size: 30px;
    padding: 30px;
}
.botonSuperior a {
    flex-basis: 200px;
    text-decoration: none;
    color: aliceblue;
}
.botonSuperior a:hover {
    background-color: #1e2828;
    border-radius: 5px;
}